:root{
  --text-grey: #343a40;
  font-size: 24px;
  display: flex;
  color: var(--text-grey);
  font-family: georgia,serif;

}

body{
  width: 90%;
  margin: auto;
}

[contenteditable]:focus{
  outline: 0px solid transparent;
}

section{
  margin-top: 50px;
}

p{
  font-size: 0.75rem;
  color: black;
  font-weight: 500;
  font-family: corbel,sans-serif;
  margin: 30px;
  margin-right: 10px;
}

nav{
  display: flex;
  flex-direction: row;
}

#clearText,#githubLink{
  cursor: pointer;
}

@media (max-width: 420px) {
  p{
    font-size: 16px;
  }
}
