html{
  --text-grey: #343a40;
  --back-colour: #fff;
  font-size: 24px;
  color: var(--text-grey);
  font-family: georgia,serif;
  background-color: var(--back-colour);

}

body{
  width: 90%;
  margin: auto;
}

[contenteditable]:focus{
  outline: 0px solid transparent;
}

[contenteditable]{
  margin-top: 50px;
}

p{
  font-size: 0.75rem;
  font-weight: 500;
  font-family: corbel,sans-serif;
  margin: 20px 10px 0 20px;
}

nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#clearText,#githubLink,.white,.black,#zen-toggle{
  cursor: pointer;
}

@media (max-width: 520px) {
  p{
    font-size: 16px;
  }
}
